# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/
env/

# PyInstaller build files
build/
dist/
*.spec

# Logs and debug files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db
desktop.ini

# Python package files
*.egg-info/
*.eggs/

# Ignore the executable
*.exe

# Ignore icon cache
*.db
